.bs-callout {
	padding: 20px;
	margin: 20px 0;
	border: 1px solid #eee;
	border-left-width: 5px;
	border-radius: 3px;
}

.bs-callout H1,.bs-callout H2,.bs-callout H3,.bs-callout H4,.bs-callout H5,.bs-callout H6
	{
	margin-top: 0;
	margin-bottom: 5px;
}

.bs-callout p:last-child {
	margin-bottom: 0;
}

.bs-callout code {
	border-radius: 3px;
}

.bs-callout+.bs-callout {
	margin-top: -5px;
}

.bs-callout-aliceblue  {
	border-left-color: #F0F8FF;
}

.bs-callout-aliceblue  H1,.bs-callout-aliceblue  H2,.bs-callout-aliceblue  H3,.bs-callout-aliceblue  H4,.bs-callout-aliceblue  H5,.bs-callout-aliceblue  H6
	{
	color: #F0F8FF;
}

.bs-callout-antiquewhite  {
	border-left-color: #FAEBD7;
}

.bs-callout-antiquewhite  H1,.bs-callout-antiquewhite  H2,.bs-callout-antiquewhite  H3,.bs-callout-antiquewhite  H4,.bs-callout-antiquewhite  H5,.bs-callout-antiquewhite  H6
	{
	color: #FAEBD7;
}

.bs-callout-aqua  {
	border-left-color: #00FFFF;
}

.bs-callout-aqua  H1,.bs-callout-aqua  H2,.bs-callout-aqua  H3,.bs-callout-aqua  H4,.bs-callout-aqua  H5,.bs-callout-aqua  H6
	{
	color: #00FFFF;
}

.bs-callout-aquamarine  {
	border-left-color: #7FFFD4;
}

.bs-callout-aquamarine  H1,.bs-callout-aquamarine  H2,.bs-callout-aquamarine  H3,.bs-callout-aquamarine  H4,.bs-callout-aquamarine  H5,.bs-callout-aquamarine  H6
	{
	color: #7FFFD4;
}

.bs-callout-azure  {
	border-left-color: #F0FFFF;
}

.bs-callout-azure  H1,.bs-callout-azure  H2,.bs-callout-azure  H3,.bs-callout-azure  H4,.bs-callout-azure  H5,.bs-callout-azure  H6
	{
	color: #F0FFFF;
}

.bs-callout-beige  {
	border-left-color: #F5F5DC;
}

.bs-callout-beige  H1,.bs-callout-beige  H2,.bs-callout-beige  H3,.bs-callout-beige  H4,.bs-callout-beige  H5,.bs-callout-beige  H6
	{
	color: #F5F5DC;
}

.bs-callout-bisque  {
	border-left-color: #FFE4C4;
}

.bs-callout-bisque  H1,.bs-callout-bisque  H2,.bs-callout-bisque  H3,.bs-callout-bisque  H4,.bs-callout-bisque  H5,.bs-callout-bisque  H6
	{
	color: #FFE4C4;
}

.bs-callout-black  {
	border-left-color: #000000;
}

.bs-callout-black  H1,.bs-callout-black  H2,.bs-callout-black  H3,.bs-callout-black  H4,.bs-callout-black  H5,.bs-callout-black  H6
	{
	color: #000000;
}

.bs-callout-blanchedalmond  {
	border-left-color: #FFEBCD;
}

.bs-callout-blanchedalmond  H1,.bs-callout-blanchedalmond  H2,.bs-callout-blanchedalmond  H3,.bs-callout-blanchedalmond  H4,.bs-callout-blanchedalmond  H5,.bs-callout-blanchedalmond  H6
	{
	color: #FFEBCD;
}

.bs-callout-blue  {
	border-left-color: #0000FF;
}

.bs-callout-blue  H1,.bs-callout-blue  H2,.bs-callout-blue  H3,.bs-callout-blue  H4,.bs-callout-blue  H5,.bs-callout-blue  H6
	{
	color: #0000FF;
}

.bs-callout-blueviolet  {
	border-left-color: #8A2BE2;
}

.bs-callout-blueviolet  H1,.bs-callout-blueviolet  H2,.bs-callout-blueviolet  H3,.bs-callout-blueviolet  H4,.bs-callout-blueviolet  H5,.bs-callout-blueviolet  H6
	{
	color: #8A2BE2;
}

.bs-callout-brown  {
	border-left-color: #A52A2A;
}

.bs-callout-brown  H1,.bs-callout-brown  H2,.bs-callout-brown  H3,.bs-callout-brown  H4,.bs-callout-brown  H5,.bs-callout-brown  H6
	{
	color: #A52A2A;
}

.bs-callout-burlywood  {
	border-left-color: #DEB887;
}

.bs-callout-burlywood  H1,.bs-callout-burlywood  H2,.bs-callout-burlywood  H3,.bs-callout-burlywood  H4,.bs-callout-burlywood  H5,.bs-callout-burlywood  H6
	{
	color: #DEB887;
}

.bs-callout-cadetblue  {
	border-left-color: #5F9EA0;
}

.bs-callout-cadetblue  H1,.bs-callout-cadetblue  H2,.bs-callout-cadetblue  H3,.bs-callout-cadetblue  H4,.bs-callout-cadetblue  H5,.bs-callout-cadetblue  H6
	{
	color: #5F9EA0;
}

.bs-callout-chartreuse  {
	border-left-color: #7FFF00;
}

.bs-callout-chartreuse  H1,.bs-callout-chartreuse  H2,.bs-callout-chartreuse  H3,.bs-callout-chartreuse  H4,.bs-callout-chartreuse  H5,.bs-callout-chartreuse  H6
	{
	color: #7FFF00;
}

.bs-callout-chocolate  {
	border-left-color: #D2691E;
}

.bs-callout-chocolate  H1,.bs-callout-chocolate  H2,.bs-callout-chocolate  H3,.bs-callout-chocolate  H4,.bs-callout-chocolate  H5,.bs-callout-chocolate  H6
	{
	color: #D2691E;
}

.bs-callout-coral  {
	border-left-color: #FF7F50;
}

.bs-callout-coral  H1,.bs-callout-coral  H2,.bs-callout-coral  H3,.bs-callout-coral  H4,.bs-callout-coral  H5,.bs-callout-coral  H6
	{
	color: #FF7F50;
}

.bs-callout-cornflowerblue  {
	border-left-color: #6495ED;
}

.bs-callout-cornflowerblue  H1,.bs-callout-cornflowerblue  H2,.bs-callout-cornflowerblue  H3,.bs-callout-cornflowerblue  H4,.bs-callout-cornflowerblue  H5,.bs-callout-cornflowerblue  H6
	{
	color: #6495ED;
}

.bs-callout-cornsilk  {
	border-left-color: #FFF8DC;
}

.bs-callout-cornsilk  H1,.bs-callout-cornsilk  H2,.bs-callout-cornsilk  H3,.bs-callout-cornsilk  H4,.bs-callout-cornsilk  H5,.bs-callout-cornsilk  H6
	{
	color: #FFF8DC;
}

.bs-callout-crimson  {
	border-left-color: #DC143C;
}

.bs-callout-crimson  H1,.bs-callout-crimson  H2,.bs-callout-crimson  H3,.bs-callout-crimson  H4,.bs-callout-crimson  H5,.bs-callout-crimson  H6
	{
	color: #DC143C;
}

.bs-callout-cyan  {
	border-left-color: #00FFFF;
}

.bs-callout-cyan  H1,.bs-callout-cyan  H2,.bs-callout-cyan  H3,.bs-callout-cyan  H4,.bs-callout-cyan  H5,.bs-callout-cyan  H6
	{
	color: #00FFFF;
}

.bs-callout-darkblue  {
	border-left-color: #00008B;
}

.bs-callout-darkblue  H1,.bs-callout-darkblue  H2,.bs-callout-darkblue  H3,.bs-callout-darkblue  H4,.bs-callout-darkblue  H5,.bs-callout-darkblue  H6
	{
	color: #00008B;
}

.bs-callout-darkcyan  {
	border-left-color: #008B8B;
}

.bs-callout-darkcyan  H1,.bs-callout-darkcyan  H2,.bs-callout-darkcyan  H3,.bs-callout-darkcyan  H4,.bs-callout-darkcyan  H5,.bs-callout-darkcyan  H6
	{
	color: #008B8B;
}

.bs-callout-darkgoldenrod  {
	border-left-color: #B8860B;
}

.bs-callout-darkgoldenrod  H1,.bs-callout-darkgoldenrod  H2,.bs-callout-darkgoldenrod  H3,.bs-callout-darkgoldenrod  H4,.bs-callout-darkgoldenrod  H5,.bs-callout-darkgoldenrod  H6
	{
	color: #B8860B;
}

.bs-callout-darkgray  {
	border-left-color: #A9A9A9;
}

.bs-callout-darkgray  H1,.bs-callout-darkgray  H2,.bs-callout-darkgray  H3,.bs-callout-darkgray  H4,.bs-callout-darkgray  H5,.bs-callout-darkgray  H6
	{
	color: #A9A9A9;
}

.bs-callout-darkgreen  {
	border-left-color: #006400;
}

.bs-callout-darkgreen  H1,.bs-callout-darkgreen  H2,.bs-callout-darkgreen  H3,.bs-callout-darkgreen  H4,.bs-callout-darkgreen  H5,.bs-callout-darkgreen  H6
	{
	color: #006400;
}

.bs-callout-darkkhaki  {
	border-left-color: #BDB76B;
}

.bs-callout-darkkhaki  H1,.bs-callout-darkkhaki  H2,.bs-callout-darkkhaki  H3,.bs-callout-darkkhaki  H4,.bs-callout-darkkhaki  H5,.bs-callout-darkkhaki  H6
	{
	color: #BDB76B;
}

.bs-callout-darkmagenta  {
	border-left-color: #8B008B;
}

.bs-callout-darkmagenta  H1,.bs-callout-darkmagenta  H2,.bs-callout-darkmagenta  H3,.bs-callout-darkmagenta  H4,.bs-callout-darkmagenta  H5,.bs-callout-darkmagenta  H6
	{
	color: #8B008B;
}

.bs-callout-darkolivegreen  {
	border-left-color: #556B2F;
}

.bs-callout-darkolivegreen  H1,.bs-callout-darkolivegreen  H2,.bs-callout-darkolivegreen  H3,.bs-callout-darkolivegreen  H4,.bs-callout-darkolivegreen  H5,.bs-callout-darkolivegreen  H6
	{
	color: #556B2F;
}

.bs-callout-darkorange  {
	border-left-color: #FF8C00;
}

.bs-callout-darkorange  H1,.bs-callout-darkorange  H2,.bs-callout-darkorange  H3,.bs-callout-darkorange  H4,.bs-callout-darkorange  H5,.bs-callout-darkorange  H6
	{
	color: #FF8C00;
}

.bs-callout-darkorchid  {
	border-left-color: #9932CC;
}

.bs-callout-darkorchid  H1,.bs-callout-darkorchid  H2,.bs-callout-darkorchid  H3,.bs-callout-darkorchid  H4,.bs-callout-darkorchid  H5,.bs-callout-darkorchid  H6
	{
	color: #9932CC;
}

.bs-callout-darkred  {
	border-left-color: #8B0000;
}

.bs-callout-darkred  H1,.bs-callout-darkred  H2,.bs-callout-darkred  H3,.bs-callout-darkred  H4,.bs-callout-darkred  H5,.bs-callout-darkred  H6
	{
	color: #8B0000;
}

.bs-callout-darksalmon  {
	border-left-color: #E9967A;
}

.bs-callout-darksalmon  H1,.bs-callout-darksalmon  H2,.bs-callout-darksalmon  H3,.bs-callout-darksalmon  H4,.bs-callout-darksalmon  H5,.bs-callout-darksalmon  H6
	{
	color: #E9967A;
}

.bs-callout-darkseagreen  {
	border-left-color: #8FBC8F;
}

.bs-callout-darkseagreen  H1,.bs-callout-darkseagreen  H2,.bs-callout-darkseagreen  H3,.bs-callout-darkseagreen  H4,.bs-callout-darkseagreen  H5,.bs-callout-darkseagreen  H6
	{
	color: #8FBC8F;
}

.bs-callout-darkslateblue  {
	border-left-color: #483D8B;
}

.bs-callout-darkslateblue  H1,.bs-callout-darkslateblue  H2,.bs-callout-darkslateblue  H3,.bs-callout-darkslateblue  H4,.bs-callout-darkslateblue  H5,.bs-callout-darkslateblue  H6
	{
	color: #483D8B;
}

.bs-callout-darkslategray  {
	border-left-color: #2F4F4F;
}

.bs-callout-darkslategray  H1,.bs-callout-darkslategray  H2,.bs-callout-darkslategray  H3,.bs-callout-darkslategray  H4,.bs-callout-darkslategray  H5,.bs-callout-darkslategray  H6
	{
	color: #2F4F4F;
}

.bs-callout-darkturquoise  {
	border-left-color: #00CED1;
}

.bs-callout-darkturquoise  H1,.bs-callout-darkturquoise  H2,.bs-callout-darkturquoise  H3,.bs-callout-darkturquoise  H4,.bs-callout-darkturquoise  H5,.bs-callout-darkturquoise  H6
	{
	color: #00CED1;
}

.bs-callout-darkviolet  {
	border-left-color: #9400D3;
}

.bs-callout-darkviolet  H1,.bs-callout-darkviolet  H2,.bs-callout-darkviolet  H3,.bs-callout-darkviolet  H4,.bs-callout-darkviolet  H5,.bs-callout-darkviolet  H6
	{
	color: #9400D3;
}

.bs-callout-deeppink  {
	border-left-color: #FF1493;
}

.bs-callout-deeppink  H1,.bs-callout-deeppink  H2,.bs-callout-deeppink  H3,.bs-callout-deeppink  H4,.bs-callout-deeppink  H5,.bs-callout-deeppink  H6
	{
	color: #FF1493;
}

.bs-callout-deepskyblue  {
	border-left-color: #00BFFF;
}

.bs-callout-deepskyblue  H1,.bs-callout-deepskyblue  H2,.bs-callout-deepskyblue  H3,.bs-callout-deepskyblue  H4,.bs-callout-deepskyblue  H5,.bs-callout-deepskyblue  H6
	{
	color: #00BFFF;
}

.bs-callout-dimgray  {
	border-left-color: #696969;
}

.bs-callout-dimgray  H1,.bs-callout-dimgray  H2,.bs-callout-dimgray  H3,.bs-callout-dimgray  H4,.bs-callout-dimgray  H5,.bs-callout-dimgray  H6
	{
	color: #696969;
}

.bs-callout-dodgerblue  {
	border-left-color: #1E90FF;
}

.bs-callout-dodgerblue  H1,.bs-callout-dodgerblue  H2,.bs-callout-dodgerblue  H3,.bs-callout-dodgerblue  H4,.bs-callout-dodgerblue  H5,.bs-callout-dodgerblue  H6
	{
	color: #1E90FF;
}

.bs-callout-firebrick  {
	border-left-color: #B22222;
}

.bs-callout-firebrick  H1,.bs-callout-firebrick  H2,.bs-callout-firebrick  H3,.bs-callout-firebrick  H4,.bs-callout-firebrick  H5,.bs-callout-firebrick  H6
	{
	color: #B22222;
}

.bs-callout-floralwhite  {
	border-left-color: #FFFAF0;
}

.bs-callout-floralwhite  H1,.bs-callout-floralwhite  H2,.bs-callout-floralwhite  H3,.bs-callout-floralwhite  H4,.bs-callout-floralwhite  H5,.bs-callout-floralwhite  H6
	{
	color: #FFFAF0;
}

.bs-callout-forestgreen  {
	border-left-color: #228B22;
}

.bs-callout-forestgreen  H1,.bs-callout-forestgreen  H2,.bs-callout-forestgreen  H3,.bs-callout-forestgreen  H4,.bs-callout-forestgreen  H5,.bs-callout-forestgreen  H6
	{
	color: #228B22;
}

.bs-callout-fuchsia  {
	border-left-color: #FF00FF;
}

.bs-callout-fuchsia  H1,.bs-callout-fuchsia  H2,.bs-callout-fuchsia  H3,.bs-callout-fuchsia  H4,.bs-callout-fuchsia  H5,.bs-callout-fuchsia  H6
	{
	color: #FF00FF;
}

.bs-callout-gainsboro  {
	border-left-color: #DCDCDC;
}

.bs-callout-gainsboro  H1,.bs-callout-gainsboro  H2,.bs-callout-gainsboro  H3,.bs-callout-gainsboro  H4,.bs-callout-gainsboro  H5,.bs-callout-gainsboro  H6
	{
	color: #DCDCDC;
}

.bs-callout-ghostwhite  {
	border-left-color: #F8F8FF;
}

.bs-callout-ghostwhite  H1,.bs-callout-ghostwhite  H2,.bs-callout-ghostwhite  H3,.bs-callout-ghostwhite  H4,.bs-callout-ghostwhite  H5,.bs-callout-ghostwhite  H6
	{
	color: #F8F8FF;
}

.bs-callout-gold  {
	border-left-color: #FFD700;
}

.bs-callout-gold  H1,.bs-callout-gold  H2,.bs-callout-gold  H3,.bs-callout-gold  H4,.bs-callout-gold  H5,.bs-callout-gold  H6
	{
	color: #FFD700;
}

.bs-callout-goldenrod  {
	border-left-color: #DAA520;
}

.bs-callout-goldenrod  H1,.bs-callout-goldenrod  H2,.bs-callout-goldenrod  H3,.bs-callout-goldenrod  H4,.bs-callout-goldenrod  H5,.bs-callout-goldenrod  H6
	{
	color: #DAA520;
}

.bs-callout-gray  {
	border-left-color: #808080;
}

.bs-callout-gray  H1,.bs-callout-gray  H2,.bs-callout-gray  H3,.bs-callout-gray  H4,.bs-callout-gray  H5,.bs-callout-gray  H6
	{
	color: #808080;
}

.bs-callout-green  {
	border-left-color: #008000;
}

.bs-callout-green  H1,.bs-callout-green  H2,.bs-callout-green  H3,.bs-callout-green  H4,.bs-callout-green  H5,.bs-callout-green  H6
	{
	color: #008000;
}

.bs-callout-greenyellow  {
	border-left-color: #ADFF2F;
}

.bs-callout-greenyellow  H1,.bs-callout-greenyellow  H2,.bs-callout-greenyellow  H3,.bs-callout-greenyellow  H4,.bs-callout-greenyellow  H5,.bs-callout-greenyellow  H6
	{
	color: #ADFF2F;
}

.bs-callout-honeydew  {
	border-left-color: #F0FFF0;
}

.bs-callout-honeydew  H1,.bs-callout-honeydew  H2,.bs-callout-honeydew  H3,.bs-callout-honeydew  H4,.bs-callout-honeydew  H5,.bs-callout-honeydew  H6
	{
	color: #F0FFF0;
}

.bs-callout-hotpink  {
	border-left-color: #FF69B4;
}

.bs-callout-hotpink  H1,.bs-callout-hotpink  H2,.bs-callout-hotpink  H3,.bs-callout-hotpink  H4,.bs-callout-hotpink  H5,.bs-callout-hotpink  H6
	{
	color: #FF69B4;
}

.bs-callout-indianred   {
	border-left-color: #CD5C5C;
}

.bs-callout-indianred   H1,.bs-callout-indianred   H2,.bs-callout-indianred   H3,.bs-callout-indianred   H4,.bs-callout-indianred   H5,.bs-callout-indianred   H6
	{
	color: #CD5C5C;
}

.bs-callout-indigo   {
	border-left-color: #4B0082;
}

.bs-callout-indigo   H1,.bs-callout-indigo   H2,.bs-callout-indigo   H3,.bs-callout-indigo   H4,.bs-callout-indigo   H5,.bs-callout-indigo   H6
	{
	color: #4B0082;
}

.bs-callout-ivory  {
	border-left-color: #FFFFF0;
}

.bs-callout-ivory  H1,.bs-callout-ivory  H2,.bs-callout-ivory  H3,.bs-callout-ivory  H4,.bs-callout-ivory  H5,.bs-callout-ivory  H6
	{
	color: #FFFFF0;
}

.bs-callout-khaki  {
	border-left-color: #F0E68C;
}

.bs-callout-khaki  H1,.bs-callout-khaki  H2,.bs-callout-khaki  H3,.bs-callout-khaki  H4,.bs-callout-khaki  H5,.bs-callout-khaki  H6
	{
	color: #F0E68C;
}

.bs-callout-lavender  {
	border-left-color: #E6E6FA;
}

.bs-callout-lavender  H1,.bs-callout-lavender  H2,.bs-callout-lavender  H3,.bs-callout-lavender  H4,.bs-callout-lavender  H5,.bs-callout-lavender  H6
	{
	color: #E6E6FA;
}

.bs-callout-lavenderblush  {
	border-left-color: #FFF0F5;
}

.bs-callout-lavenderblush  H1,.bs-callout-lavenderblush  H2,.bs-callout-lavenderblush  H3,.bs-callout-lavenderblush  H4,.bs-callout-lavenderblush  H5,.bs-callout-lavenderblush  H6
	{
	color: #FFF0F5;
}

.bs-callout-lawngreen  {
	border-left-color: #7CFC00;
}

.bs-callout-lawngreen  H1,.bs-callout-lawngreen  H2,.bs-callout-lawngreen  H3,.bs-callout-lawngreen  H4,.bs-callout-lawngreen  H5,.bs-callout-lawngreen  H6
	{
	color: #7CFC00;
}

.bs-callout-lemonchiffon  {
	border-left-color: #FFFACD;
}

.bs-callout-lemonchiffon  H1,.bs-callout-lemonchiffon  H2,.bs-callout-lemonchiffon  H3,.bs-callout-lemonchiffon  H4,.bs-callout-lemonchiffon  H5,.bs-callout-lemonchiffon  H6
	{
	color: #FFFACD;
}

.bs-callout-lightblue  {
	border-left-color: #ADD8E6;
}

.bs-callout-lightblue  H1,.bs-callout-lightblue  H2,.bs-callout-lightblue  H3,.bs-callout-lightblue  H4,.bs-callout-lightblue  H5,.bs-callout-lightblue  H6
	{
	color: #ADD8E6;
}

.bs-callout-lightcoral  {
	border-left-color: #F08080;
}

.bs-callout-lightcoral  H1,.bs-callout-lightcoral  H2,.bs-callout-lightcoral  H3,.bs-callout-lightcoral  H4,.bs-callout-lightcoral  H5,.bs-callout-lightcoral  H6
	{
	color: #F08080;
}

.bs-callout-lightcyan  {
	border-left-color: #E0FFFF;
}

.bs-callout-lightcyan  H1,.bs-callout-lightcyan  H2,.bs-callout-lightcyan  H3,.bs-callout-lightcyan  H4,.bs-callout-lightcyan  H5,.bs-callout-lightcyan  H6
	{
	color: #E0FFFF;
}

.bs-callout-lightgoldenrodyellow  {
	border-left-color: #FAFAD2;
}

.bs-callout-lightgoldenrodyellow  H1,.bs-callout-lightgoldenrodyellow  H2,.bs-callout-lightgoldenrodyellow  H3,.bs-callout-lightgoldenrodyellow  H4,.bs-callout-lightgoldenrodyellow  H5,.bs-callout-lightgoldenrodyellow  H6
	{
	color: #FAFAD2;
}

.bs-callout-lightgray  {
	border-left-color: #D3D3D3;
}

.bs-callout-lightgray  H1,.bs-callout-lightgray  H2,.bs-callout-lightgray  H3,.bs-callout-lightgray  H4,.bs-callout-lightgray  H5,.bs-callout-lightgray  H6
	{
	color: #D3D3D3;
}

.bs-callout-lightgreen  {
	border-left-color: #90EE90;
}

.bs-callout-lightgreen  H1,.bs-callout-lightgreen  H2,.bs-callout-lightgreen  H3,.bs-callout-lightgreen  H4,.bs-callout-lightgreen  H5,.bs-callout-lightgreen  H6
	{
	color: #90EE90;
}

.bs-callout-lightpink  {
	border-left-color: #FFB6C1;
}

.bs-callout-lightpink  H1,.bs-callout-lightpink  H2,.bs-callout-lightpink  H3,.bs-callout-lightpink  H4,.bs-callout-lightpink  H5,.bs-callout-lightpink  H6
	{
	color: #FFB6C1;
}

.bs-callout-lightsalmon  {
	border-left-color: #FFA07A;
}

.bs-callout-lightsalmon  H1,.bs-callout-lightsalmon  H2,.bs-callout-lightsalmon  H3,.bs-callout-lightsalmon  H4,.bs-callout-lightsalmon  H5,.bs-callout-lightsalmon  H6
	{
	color: #FFA07A;
}

.bs-callout-lightseagreen  {
	border-left-color: #20B2AA;
}

.bs-callout-lightseagreen  H1,.bs-callout-lightseagreen  H2,.bs-callout-lightseagreen  H3,.bs-callout-lightseagreen  H4,.bs-callout-lightseagreen  H5,.bs-callout-lightseagreen  H6
	{
	color: #20B2AA;
}

.bs-callout-lightskyblue  {
	border-left-color: #87CEFA;
}

.bs-callout-lightskyblue  H1,.bs-callout-lightskyblue  H2,.bs-callout-lightskyblue  H3,.bs-callout-lightskyblue  H4,.bs-callout-lightskyblue  H5,.bs-callout-lightskyblue  H6
	{
	color: #87CEFA;
}

.bs-callout-lightslategray  {
	border-left-color: #778899;
}

.bs-callout-lightslategray  H1,.bs-callout-lightslategray  H2,.bs-callout-lightslategray  H3,.bs-callout-lightslategray  H4,.bs-callout-lightslategray  H5,.bs-callout-lightslategray  H6
	{
	color: #778899;
}

.bs-callout-lightsteelblue  {
	border-left-color: #B0C4DE;
}

.bs-callout-lightsteelblue  H1,.bs-callout-lightsteelblue  H2,.bs-callout-lightsteelblue  H3,.bs-callout-lightsteelblue  H4,.bs-callout-lightsteelblue  H5,.bs-callout-lightsteelblue  H6
	{
	color: #B0C4DE;
}

.bs-callout-lightyellow  {
	border-left-color: #FFFFE0;
}

.bs-callout-lightyellow  H1,.bs-callout-lightyellow  H2,.bs-callout-lightyellow  H3,.bs-callout-lightyellow  H4,.bs-callout-lightyellow  H5,.bs-callout-lightyellow  H6
	{
	color: #FFFFE0;
}

.bs-callout-lime  {
	border-left-color: #00FF00;
}

.bs-callout-lime  H1,.bs-callout-lime  H2,.bs-callout-lime  H3,.bs-callout-lime  H4,.bs-callout-lime  H5,.bs-callout-lime  H6
	{
	color: #00FF00;
}

.bs-callout-limegreen  {
	border-left-color: #32CD32;
}

.bs-callout-limegreen  H1,.bs-callout-limegreen  H2,.bs-callout-limegreen  H3,.bs-callout-limegreen  H4,.bs-callout-limegreen  H5,.bs-callout-limegreen  H6
	{
	color: #32CD32;
}

.bs-callout-linen  {
	border-left-color: #FAF0E6;
}

.bs-callout-linen  H1,.bs-callout-linen  H2,.bs-callout-linen  H3,.bs-callout-linen  H4,.bs-callout-linen  H5,.bs-callout-linen  H6
	{
	color: #FAF0E6;
}

.bs-callout-magenta  {
	border-left-color: #FF00FF;
}

.bs-callout-magenta  H1,.bs-callout-magenta  H2,.bs-callout-magenta  H3,.bs-callout-magenta  H4,.bs-callout-magenta  H5,.bs-callout-magenta  H6
	{
	color: #FF00FF;
}

.bs-callout-maroon  {
	border-left-color: #800000;
}

.bs-callout-maroon  H1,.bs-callout-maroon  H2,.bs-callout-maroon  H3,.bs-callout-maroon  H4,.bs-callout-maroon  H5,.bs-callout-maroon  H6
	{
	color: #800000;
}

.bs-callout-mediumaquamarine  {
	border-left-color: #66CDAA;
}

.bs-callout-mediumaquamarine  H1,.bs-callout-mediumaquamarine  H2,.bs-callout-mediumaquamarine  H3,.bs-callout-mediumaquamarine  H4,.bs-callout-mediumaquamarine  H5,.bs-callout-mediumaquamarine  H6
	{
	color: #66CDAA;
}

.bs-callout-mediumblue  {
	border-left-color: #0000CD;
}

.bs-callout-mediumblue  H1,.bs-callout-mediumblue  H2,.bs-callout-mediumblue  H3,.bs-callout-mediumblue  H4,.bs-callout-mediumblue  H5,.bs-callout-mediumblue  H6
	{
	color: #0000CD;
}

.bs-callout-mediumorchid  {
	border-left-color: #BA55D3;
}

.bs-callout-mediumorchid  H1,.bs-callout-mediumorchid  H2,.bs-callout-mediumorchid  H3,.bs-callout-mediumorchid  H4,.bs-callout-mediumorchid  H5,.bs-callout-mediumorchid  H6
	{
	color: #BA55D3;
}

.bs-callout-mediumpurple  {
	border-left-color: #9370DB;
}

.bs-callout-mediumpurple  H1,.bs-callout-mediumpurple  H2,.bs-callout-mediumpurple  H3,.bs-callout-mediumpurple  H4,.bs-callout-mediumpurple  H5,.bs-callout-mediumpurple  H6
	{
	color: #9370DB;
}

.bs-callout-mediumseagreen  {
	border-left-color: #3CB371;
}

.bs-callout-mediumseagreen  H1,.bs-callout-mediumseagreen  H2,.bs-callout-mediumseagreen  H3,.bs-callout-mediumseagreen  H4,.bs-callout-mediumseagreen  H5,.bs-callout-mediumseagreen  H6
	{
	color: #3CB371;
}

.bs-callout-mediumslateblue  {
	border-left-color: #7B68EE;
}

.bs-callout-mediumslateblue  H1,.bs-callout-mediumslateblue  H2,.bs-callout-mediumslateblue  H3,.bs-callout-mediumslateblue  H4,.bs-callout-mediumslateblue  H5,.bs-callout-mediumslateblue  H6
	{
	color: #7B68EE;
}

.bs-callout-mediumspringgreen  {
	border-left-color: #00FA9A;
}

.bs-callout-mediumspringgreen  H1,.bs-callout-mediumspringgreen  H2,.bs-callout-mediumspringgreen  H3,.bs-callout-mediumspringgreen  H4,.bs-callout-mediumspringgreen  H5,.bs-callout-mediumspringgreen  H6
	{
	color: #00FA9A;
}

.bs-callout-mediumturquoise  {
	border-left-color: #48D1CC;
}

.bs-callout-mediumturquoise  H1,.bs-callout-mediumturquoise  H2,.bs-callout-mediumturquoise  H3,.bs-callout-mediumturquoise  H4,.bs-callout-mediumturquoise  H5,.bs-callout-mediumturquoise  H6
	{
	color: #48D1CC;
}

.bs-callout-mediumvioletred  {
	border-left-color: #C71585;
}

.bs-callout-mediumvioletred  H1,.bs-callout-mediumvioletred  H2,.bs-callout-mediumvioletred  H3,.bs-callout-mediumvioletred  H4,.bs-callout-mediumvioletred  H5,.bs-callout-mediumvioletred  H6
	{
	color: #C71585;
}

.bs-callout-midnightblue  {
	border-left-color: #191970;
}

.bs-callout-midnightblue  H1,.bs-callout-midnightblue  H2,.bs-callout-midnightblue  H3,.bs-callout-midnightblue  H4,.bs-callout-midnightblue  H5,.bs-callout-midnightblue  H6
	{
	color: #191970;
}

.bs-callout-mintcream  {
	border-left-color: #F5FFFA;
}

.bs-callout-mintcream  H1,.bs-callout-mintcream  H2,.bs-callout-mintcream  H3,.bs-callout-mintcream  H4,.bs-callout-mintcream  H5,.bs-callout-mintcream  H6
	{
	color: #F5FFFA;
}

.bs-callout-mistyrose  {
	border-left-color: #FFE4E1;
}

.bs-callout-mistyrose  H1,.bs-callout-mistyrose  H2,.bs-callout-mistyrose  H3,.bs-callout-mistyrose  H4,.bs-callout-mistyrose  H5,.bs-callout-mistyrose  H6
	{
	color: #FFE4E1;
}

.bs-callout-moccasin  {
	border-left-color: #FFE4B5;
}

.bs-callout-moccasin  H1,.bs-callout-moccasin  H2,.bs-callout-moccasin  H3,.bs-callout-moccasin  H4,.bs-callout-moccasin  H5,.bs-callout-moccasin  H6
	{
	color: #FFE4B5;
}

.bs-callout-navajowhite  {
	border-left-color: #FFDEAD;
}

.bs-callout-navajowhite  H1,.bs-callout-navajowhite  H2,.bs-callout-navajowhite  H3,.bs-callout-navajowhite  H4,.bs-callout-navajowhite  H5,.bs-callout-navajowhite  H6
	{
	color: #FFDEAD;
}

.bs-callout-navy  {
	border-left-color: #000080;
}

.bs-callout-navy  H1,.bs-callout-navy  H2,.bs-callout-navy  H3,.bs-callout-navy  H4,.bs-callout-navy  H5,.bs-callout-navy  H6
	{
	color: #000080;
}

.bs-callout-oldlace  {
	border-left-color: #FDF5E6;
}

.bs-callout-oldlace  H1,.bs-callout-oldlace  H2,.bs-callout-oldlace  H3,.bs-callout-oldlace  H4,.bs-callout-oldlace  H5,.bs-callout-oldlace  H6
	{
	color: #FDF5E6;
}

.bs-callout-olive  {
	border-left-color: #808000;
}

.bs-callout-olive  H1,.bs-callout-olive  H2,.bs-callout-olive  H3,.bs-callout-olive  H4,.bs-callout-olive  H5,.bs-callout-olive  H6
	{
	color: #808000;
}

.bs-callout-olivedrab  {
	border-left-color: #6B8E23;
}

.bs-callout-olivedrab  H1,.bs-callout-olivedrab  H2,.bs-callout-olivedrab  H3,.bs-callout-olivedrab  H4,.bs-callout-olivedrab  H5,.bs-callout-olivedrab  H6
	{
	color: #6B8E23;
}

.bs-callout-orange  {
	border-left-color: #FFA500;
}

.bs-callout-orange  H1,.bs-callout-orange  H2,.bs-callout-orange  H3,.bs-callout-orange  H4,.bs-callout-orange  H5,.bs-callout-orange  H6
	{
	color: #FFA500;
}

.bs-callout-orangered  {
	border-left-color: #FF4500;
}

.bs-callout-orangered  H1,.bs-callout-orangered  H2,.bs-callout-orangered  H3,.bs-callout-orangered  H4,.bs-callout-orangered  H5,.bs-callout-orangered  H6
	{
	color: #FF4500;
}

.bs-callout-orchid  {
	border-left-color: #DA70D6;
}

.bs-callout-orchid  H1,.bs-callout-orchid  H2,.bs-callout-orchid  H3,.bs-callout-orchid  H4,.bs-callout-orchid  H5,.bs-callout-orchid  H6
	{
	color: #DA70D6;
}

.bs-callout-palegoldenrod  {
	border-left-color: #EEE8AA;
}

.bs-callout-palegoldenrod  H1,.bs-callout-palegoldenrod  H2,.bs-callout-palegoldenrod  H3,.bs-callout-palegoldenrod  H4,.bs-callout-palegoldenrod  H5,.bs-callout-palegoldenrod  H6
	{
	color: #EEE8AA;
}

.bs-callout-palegreen  {
	border-left-color: #98FB98;
}

.bs-callout-palegreen  H1,.bs-callout-palegreen  H2,.bs-callout-palegreen  H3,.bs-callout-palegreen  H4,.bs-callout-palegreen  H5,.bs-callout-palegreen  H6
	{
	color: #98FB98;
}

.bs-callout-paleturquoise  {
	border-left-color: #AFEEEE;
}

.bs-callout-paleturquoise  H1,.bs-callout-paleturquoise  H2,.bs-callout-paleturquoise  H3,.bs-callout-paleturquoise  H4,.bs-callout-paleturquoise  H5,.bs-callout-paleturquoise  H6
	{
	color: #AFEEEE;
}

.bs-callout-palevioletred  {
	border-left-color: #DB7093;
}

.bs-callout-palevioletred  H1,.bs-callout-palevioletred  H2,.bs-callout-palevioletred  H3,.bs-callout-palevioletred  H4,.bs-callout-palevioletred  H5,.bs-callout-palevioletred  H6
	{
	color: #DB7093;
}

.bs-callout-papayawhip  {
	border-left-color: #FFEFD5;
}

.bs-callout-papayawhip  H1,.bs-callout-papayawhip  H2,.bs-callout-papayawhip  H3,.bs-callout-papayawhip  H4,.bs-callout-papayawhip  H5,.bs-callout-papayawhip  H6
	{
	color: #FFEFD5;
}

.bs-callout-peachpuff  {
	border-left-color: #FFDAB9;
}

.bs-callout-peachpuff  H1,.bs-callout-peachpuff  H2,.bs-callout-peachpuff  H3,.bs-callout-peachpuff  H4,.bs-callout-peachpuff  H5,.bs-callout-peachpuff  H6
	{
	color: #FFDAB9;
}

.bs-callout-peru  {
	border-left-color: #CD853F;
}

.bs-callout-peru  H1,.bs-callout-peru  H2,.bs-callout-peru  H3,.bs-callout-peru  H4,.bs-callout-peru  H5,.bs-callout-peru  H6
	{
	color: #CD853F;
}

.bs-callout-pink  {
	border-left-color: #FFC0CB;
}

.bs-callout-pink  H1,.bs-callout-pink  H2,.bs-callout-pink  H3,.bs-callout-pink  H4,.bs-callout-pink  H5,.bs-callout-pink  H6
	{
	color: #FFC0CB;
}

.bs-callout-plum  {
	border-left-color: #DDA0DD;
}

.bs-callout-plum  H1,.bs-callout-plum  H2,.bs-callout-plum  H3,.bs-callout-plum  H4,.bs-callout-plum  H5,.bs-callout-plum  H6
	{
	color: #DDA0DD;
}

.bs-callout-powderblue  {
	border-left-color: #B0E0E6;
}

.bs-callout-powderblue  H1,.bs-callout-powderblue  H2,.bs-callout-powderblue  H3,.bs-callout-powderblue  H4,.bs-callout-powderblue  H5,.bs-callout-powderblue  H6
	{
	color: #B0E0E6;
}

.bs-callout-purple  {
	border-left-color: #800080;
}

.bs-callout-purple  H1,.bs-callout-purple  H2,.bs-callout-purple  H3,.bs-callout-purple  H4,.bs-callout-purple  H5,.bs-callout-purple  H6
	{
	color: #800080;
}

.bs-callout-rebeccapurple  {
	border-left-color: #663399;
}

.bs-callout-rebeccapurple  H1,.bs-callout-rebeccapurple  H2,.bs-callout-rebeccapurple  H3,.bs-callout-rebeccapurple  H4,.bs-callout-rebeccapurple  H5,.bs-callout-rebeccapurple  H6
	{
	color: #663399;
}

.bs-callout-red  {
	border-left-color: #FF0000;
}

.bs-callout-red  H1,.bs-callout-red  H2,.bs-callout-red  H3,.bs-callout-red  H4,.bs-callout-red  H5,.bs-callout-red  H6
	{
	color: #FF0000;
}

.bs-callout-rosybrown  {
	border-left-color: #BC8F8F;
}

.bs-callout-rosybrown  H1,.bs-callout-rosybrown  H2,.bs-callout-rosybrown  H3,.bs-callout-rosybrown  H4,.bs-callout-rosybrown  H5,.bs-callout-rosybrown  H6
	{
	color: #BC8F8F;
}

.bs-callout-royalblue  {
	border-left-color: #4169E1;
}

.bs-callout-royalblue  H1,.bs-callout-royalblue  H2,.bs-callout-royalblue  H3,.bs-callout-royalblue  H4,.bs-callout-royalblue  H5,.bs-callout-royalblue  H6
	{
	color: #4169E1;
}

.bs-callout-saddlebrown  {
	border-left-color: #8B4513;
}

.bs-callout-saddlebrown  H1,.bs-callout-saddlebrown  H2,.bs-callout-saddlebrown  H3,.bs-callout-saddlebrown  H4,.bs-callout-saddlebrown  H5,.bs-callout-saddlebrown  H6
	{
	color: #8B4513;
}

.bs-callout-salmon  {
	border-left-color: #FA8072;
}

.bs-callout-salmon  H1,.bs-callout-salmon  H2,.bs-callout-salmon  H3,.bs-callout-salmon  H4,.bs-callout-salmon  H5,.bs-callout-salmon  H6
	{
	color: #FA8072;
}

.bs-callout-sandybrown  {
	border-left-color: #F4A460;
}

.bs-callout-sandybrown  H1,.bs-callout-sandybrown  H2,.bs-callout-sandybrown  H3,.bs-callout-sandybrown  H4,.bs-callout-sandybrown  H5,.bs-callout-sandybrown  H6
	{
	color: #F4A460;
}

.bs-callout-seagreen  {
	border-left-color: #2E8B57;
}

.bs-callout-seagreen  H1,.bs-callout-seagreen  H2,.bs-callout-seagreen  H3,.bs-callout-seagreen  H4,.bs-callout-seagreen  H5,.bs-callout-seagreen  H6
	{
	color: #2E8B57;
}

.bs-callout-seashell  {
	border-left-color: #FFF5EE;
}

.bs-callout-seashell  H1,.bs-callout-seashell  H2,.bs-callout-seashell  H3,.bs-callout-seashell  H4,.bs-callout-seashell  H5,.bs-callout-seashell  H6
	{
	color: #FFF5EE;
}

.bs-callout-sienna  {
	border-left-color: #A0522D;
}

.bs-callout-sienna  H1,.bs-callout-sienna  H2,.bs-callout-sienna  H3,.bs-callout-sienna  H4,.bs-callout-sienna  H5,.bs-callout-sienna  H6
	{
	color: #A0522D;
}

.bs-callout-silver  {
	border-left-color: #C0C0C0;
}

.bs-callout-silver  H1,.bs-callout-silver  H2,.bs-callout-silver  H3,.bs-callout-silver  H4,.bs-callout-silver  H5,.bs-callout-silver  H6
	{
	color: #C0C0C0;
}

.bs-callout-skyblue  {
	border-left-color: #87CEEB;
}

.bs-callout-skyblue  H1,.bs-callout-skyblue  H2,.bs-callout-skyblue  H3,.bs-callout-skyblue  H4,.bs-callout-skyblue  H5,.bs-callout-skyblue  H6
	{
	color: #87CEEB;
}

.bs-callout-slateblue  {
	border-left-color: #6A5ACD;
}

.bs-callout-slateblue  H1,.bs-callout-slateblue  H2,.bs-callout-slateblue  H3,.bs-callout-slateblue  H4,.bs-callout-slateblue  H5,.bs-callout-slateblue  H6
	{
	color: #6A5ACD;
}

.bs-callout-slategray  {
	border-left-color: #708090;
}

.bs-callout-slategray  H1,.bs-callout-slategray  H2,.bs-callout-slategray  H3,.bs-callout-slategray  H4,.bs-callout-slategray  H5,.bs-callout-slategray  H6
	{
	color: #708090;
}

.bs-callout-snow  {
	border-left-color: #FFFAFA;
}

.bs-callout-snow  H1,.bs-callout-snow  H2,.bs-callout-snow  H3,.bs-callout-snow  H4,.bs-callout-snow  H5,.bs-callout-snow  H6
	{
	color: #FFFAFA;
}

.bs-callout-springgreen  {
	border-left-color: #00FF7F;
}

.bs-callout-springgreen  H1,.bs-callout-springgreen  H2,.bs-callout-springgreen  H3,.bs-callout-springgreen  H4,.bs-callout-springgreen  H5,.bs-callout-springgreen  H6
	{
	color: #00FF7F;
}

.bs-callout-steelblue  {
	border-left-color: #4682B4;
}

.bs-callout-steelblue  H1,.bs-callout-steelblue  H2,.bs-callout-steelblue  H3,.bs-callout-steelblue  H4,.bs-callout-steelblue  H5,.bs-callout-steelblue  H6
	{
	color: #4682B4;
}

.bs-callout-tan  {
	border-left-color: #D2B48C;
}

.bs-callout-tan  H1,.bs-callout-tan  H2,.bs-callout-tan  H3,.bs-callout-tan  H4,.bs-callout-tan  H5,.bs-callout-tan  H6
	{
	color: #D2B48C;
}

.bs-callout-teal  {
	border-left-color: #008080;
}

.bs-callout-teal  H1,.bs-callout-teal  H2,.bs-callout-teal  H3,.bs-callout-teal  H4,.bs-callout-teal  H5,.bs-callout-teal  H6
	{
	color: #008080;
}

.bs-callout-thistle  {
	border-left-color: #D8BFD8;
}

.bs-callout-thistle  H1,.bs-callout-thistle  H2,.bs-callout-thistle  H3,.bs-callout-thistle  H4,.bs-callout-thistle  H5,.bs-callout-thistle  H6
	{
	color: #D8BFD8;
}

.bs-callout-tomato  {
	border-left-color: #FF6347;
}

.bs-callout-tomato  H1,.bs-callout-tomato  H2,.bs-callout-tomato  H3,.bs-callout-tomato  H4,.bs-callout-tomato  H5,.bs-callout-tomato  H6
	{
	color: #FF6347;
}

.bs-callout-turquoise  {
	border-left-color: #40E0D0;
}

.bs-callout-turquoise  H1,.bs-callout-turquoise  H2,.bs-callout-turquoise  H3,.bs-callout-turquoise  H4,.bs-callout-turquoise  H5,.bs-callout-turquoise  H6
	{
	color: #40E0D0;
}

.bs-callout-violet  {
	border-left-color: #EE82EE;
}

.bs-callout-violet  H1,.bs-callout-violet  H2,.bs-callout-violet  H3,.bs-callout-violet  H4,.bs-callout-violet  H5,.bs-callout-violet  H6
	{
	color: #EE82EE;
}

.bs-callout-wheat  {
	border-left-color: #F5DEB3;
}

.bs-callout-wheat  H1,.bs-callout-wheat  H2,.bs-callout-wheat  H3,.bs-callout-wheat  H4,.bs-callout-wheat  H5,.bs-callout-wheat  H6
	{
	color: #F5DEB3;
}

.bs-callout-white  {
	border-left-color: #FFFFFF;
}

.bs-callout-white  H1,.bs-callout-white  H2,.bs-callout-white  H3,.bs-callout-white  H4,.bs-callout-white  H5,.bs-callout-white  H6
	{
	color: #FFFFFF;
}

.bs-callout-whitesmoke  {
	border-left-color: #F5F5F5;
}

.bs-callout-whitesmoke  H1,.bs-callout-whitesmoke  H2,.bs-callout-whitesmoke  H3,.bs-callout-whitesmoke  H4,.bs-callout-whitesmoke  H5,.bs-callout-whitesmoke  H6
	{
	color: #F5F5F5;
}

.bs-callout-yellow  {
	border-left-color: #FFFF00;
}

.bs-callout-yellow  H1,.bs-callout-yellow  H2,.bs-callout-yellow  H3,.bs-callout-yellow  H4,.bs-callout-yellow  H5,.bs-callout-yellow  H6
	{
	color: #FFFF00;
}

.bs-callout-yellowgreen  {
	border-left-color: #9ACD32;
}

.bs-callout-yellowgreen  H1,.bs-callout-yellowgreen  H2,.bs-callout-yellowgreen  H3,.bs-callout-yellowgreen  H4,.bs-callout-yellowgreen  H5,.bs-callout-yellowgreen  H6
	{
	color: #9ACD32;
}
