html {
  position: relative;
  min-height: 100%;
}
body {
  /* Altura del pie de pagina */
  margin-bottom: 50px;
}

footer {
	position: absolute;
	left: 0;
	bottom: 0;
	height: 50px;
	width: 100%;
}
