.icon-round-social{
	display: inline-block;
	background: url('image.png') no-repeat;
	overflow: hidden;
	text-indent: -9999px;
	text-align: left;
}
 
.icon-round-social-evernote {
	background-position: -0px -0px; width: 80px; height: 80px; }
.icon-round-social-facebook { background-position: -80px -0px; width: 80px; height: 80px; }
.icon-round-social-foursquare { background-position: -160px -0px; width: 80px; height: 80px; }
.icon-round-social-github { background-position: -0px -80px; width: 80px; height: 80px; }
.icon-round-social-googleplus { background-position: -80px -80px; width: 80px; height: 80px; }
.icon-round-social-instagram { background-position: -160px -80px; width: 80px; height: 80px; }
.icon-round-social-linkedin { background-position: -0px -160px; width: 80px; height: 80px; }
.icon-round-social-pinterest { background-position: -80px -160px; width: 80px; height: 80px; }
.icon-round-social-rss { background-position: -160px -160px; width: 80px; height: 80px; }
.icon-round-social-skype { background-position: -0px -240px; width: 80px; height: 80px; }
.icon-round-social-tumblr { background-position: -80px -240px; width: 80px; height: 80px; }
.icon-round-social-twitter { background-position: -160px -240px; width: 80px; height: 80px; }
.icon-round-social-vimeo { background-position: -0px -320px; width: 80px; height: 80px; }
.icon-round-social-wordpress { background-position: -80px -320px; width: 80px; height: 80px; }
.icon-round-social-youtube { background-position: -160px -320px; width: 80px; height: 80px; }