---
layout: default
---
<div class="timeline"><dl>
{%assign first_post_id = site.posts.first.id%}
{% for post in paginator.posts %}
  <dt>{{ post.date | date_to_string }}</dt>
  <dd class="{% cycle 'pos-right', 'pos-left' %} clearfix">
      <div class="circ"></div>
      <div class="events">
        <div class="events-body">
          <h4 class="events-heading"><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h4>
          <p>{{ post.excerpt }}</p>
        </div>
      </div>
  </dd>      
{% endfor %}
</dl></div>
{% if paginator.total_pages > 1 %}
  <nav>
    <ul class="pager">
    {% if paginator.previous_page %}
      <li class="pull-left"><a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}"><i class="glyphicon glyphicon-chevron-left"></i> Entradas recientes</a></li>
    {% endif %}

    {% if paginator.next_page %}
      <li class="pull-right"><a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Entradas antiguas <i class="glyphicon glyphicon-chevron-right"></i></a></li>
    {% endif %}
    </ul>
  </nav>
{% endif %}
