---
layout: default
---
{{first_post_id}}
{% for post in paginator.posts %}
  <article>
    <a href="{{ post.url | prepend: site.baseurl }}"><h2>{{ post.title }}</h2></a>
    <small>{{ post.date | date: "%b %-d, %Y" }}</small>
    <div class="bs-callout bs-callout-primary text-justify">
      {% if first_post_id == post.id %}
        {{ post.content }}
      {% else %}
        {{ post.excerpt }}

      {% endif %}

    </div>
  </article>
{% endfor %}
{% if paginator.total_pages > 1 %}
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&laquo; Prev</a>
  {% endif %}

  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Next &raquo;</a>
  {% endif %}
{% endif %}