<div class="bs-callout bs-callout-info">
    <h3>Sígueme a través de</h3>
    <ul class="list-inline">
        <li><a alt="Twitter" href="http://twitter.com/Smurf_Dad" target="_blank" title="Twitter"><span class="icon-round-social icon-round-social-twitter"></span></a></li>
        <li><a alt="Feed" href="/feeds/posts/default" target="_blank" title="Feed"><span class="icon-round-social icon-round-social-rss"></span></a></li>
        <li><a alt="Github" href="http://github.com/smurfdad" target="_blank" title="Github"><span class="icon-round-social icon-round-social-github"></span></a></li>
    </ul>
</div>
<div class="bs-callout bs-callout-warning">
    <h3>De qué hablo</h3>
    <ul class="cloud-tag-list">
        {% for tema in site.categories %}
        <li class="cloud-tag-list-item cloud-tag-list-item-warning">{{tema | first | capitalize}} <span class="badge">{{tema[1] | size}}</span></li>
        {% endfor %}
        {% for tema in site.tags %}
        <li class="cloud-tag-list-item cloud-tag-list-item-warning">{{tema | first | capitalize}} <span class="badge">{{tema[1] | size}}</span></li>
        {% endfor %}
    </ul>
</div>

<div class="bs-callout bs-callout-success">
    <h3>Histórico de publicaciones</h3>
    <ul class="list-unstyled">
    {%assign histMonth = ""%}
    {% for post in site.posts %}
        {% assign currentMonth = post.date | date: "%Y%m" %}
        {%if histMonth != currentMonth%}
            <li>{{post.date | date:"%b %Y"}}</li>
            {%assign histMonth = currentMonth%}
        {%endif%}
    {% endfor %}
    </ul>
</div>

<div class="bs-callout bs-callout-default">
    <h3>Mis otras webs</h3>
    <ul class="list-unstyled">
        <li><a href="http://recetas.smurfdad.es">Recetas<br>Tu libro de recetas en internet</a></li>
        <li><a href="http://geo.smurfdad.es/">Localizador de Coordenadas</a></li>
        <li><a href="http://app.smurfdad.es">Smurf Dad´s Apps: Pequeñas aplicaciones web que desarrollo</a>
        </li>
    </ul>
</div>
