<div class="bs-callout bs-callout-info">
    <h3>Sígueme a través de</h3>
    <ul class="list-inline">
        <li><a alt="Twitter" href="http://twitter.com/Smurf_Dad" target="_blank" title="Twitter"><span class="icon-round-social icon-round-social-twitter"></span></a></li>
        <li><a alt="Feed" href="/feeds/posts/default" target="_blank" title="Feed"><span class="icon-round-social icon-round-social-rss"></span></a></li>
        <li><a alt="Github" href="http://github.com/smurfdad" target="_blank" title="Github"><span class="icon-round-social icon-round-social-github"></span></a></li>
    </ul>
</div>
<div class="bs-callout bs-callout-success">
    <h3>De qué hablo</h3>
    <ul class="cloud-tag-list">
        {% for tema in site.categories %}
          {% capture categoria %}{{tema | first }}{% endcapture%}
          {% capture cuenta %}{{tema[1] | size}}{% endcapture%}        
        <li class="cloud-tag-list-item cloud-tag-list-item-success">
          <a href="/categories/#{{categoria | slugify}}">{{categoria | capitalize}} <span class="badge">{{cuenta}}</span>
        </li>
        {% endfor %}
    </ul>
</div>
<div class="bs-callout bs-callout-info">
    <h3>Temas</h3>
    <ul class="cloud-tag-list">
        {% for tema in site.tags %}
          {% capture tag %}{{tema | first }}{% endcapture%}
          {% capture cuenta %}{{tema[1] | size}}{% endcapture%}        
          <a href="/tags/#{{ tag | slugify}}">{{tag | capitalize}}</a>{%if tema != site.tags.last%}, {%endif%}
        {% endfor %}
    </ul>
</div>