<li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Histórico <span class="caret"></span></a>
    <ul class="dropdown-menu">
        <li><a href="/historial.html">Timeline</a></li>
        <li class="dropdown-header">Por categorias:</li>
        {% for tema in site.categories %}
           {% capture categoria %}{{tema | first }}{% endcapture%}
           {% capture cuenta %}{{tema[1] | size}}{% endcapture%}        
            <li>
                <a href="/categorias/#{{categoria | slugify}}">{{categoria | capitalize}}</a>
            </li>
        {% endfor %}
    </ul>
</li>
<li><a href="http://geo.smurfdad.es">Localizador de Coordenadas</a></li>
<li><a href="http://recetas.smurfdad.es">Recetas</a></li>
<li><a href="/p/about.html">Sobre mí</a></li>
